<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Reminder</title>

    <base href="/"/>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    
</head>
<body ng-app="MainApp">
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span id="brand"><a class="navbar-brand text-success" href="#" ><i class="fa fa-bell"></i> Green Reminder</a></span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav  pull-right">
                <li class="active"><a href="#values">Values List</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="clearfix"></div>
<div class="container" role="main" ng-controller="MainController">
    <div ng-controller="StoreController as store" class="row">

        <div  ng-repeat="parameter in store.data track by parameter.id" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 " >
            <h3>{{parameter.name}}
                <button class="btn btn-default pull-right" type="button" data-toggle="button" aria-pressed="false" autocomplete="off" ng-click="toggleGraph.actived = !toggleGraph.actived">
                    <i class="fa fa-bar-chart"></i>
                </button>
            </h3>
            <hr>

            <div ng-class="{true: 'hidden', false: 'visible'}[!toggleGraph.actived]">
                <div class="row">
                    <div class="col-lg-12">
                        тут будет график
                    </div>
                </div>
            </div>
            <div ng-class="{true: 'visible', false: 'hidden'}[!toggleGraph.actived]">
                <div class="row" >
                    <div class="col-lg-12" ng-class="{true: 'visible', false: 'hidden'}[!addAction.actived]" >
                        <span class="pull-left">минуло {{dayToCurrentDate}} днів</span>
                        <button type="button" class="btn pull-right" ng-click="addAction.actived = true"><i class="fa fa-plus"></i> Додати</button>
                    </div>
                </div>
                <div class="input-group " ng-class="{true: 'hidden', false: 'visible'}[!addAction.actived]">
                    <input type="text" class="form-control" placeholder="_____.00" value="{{}}">
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="addAction.actived = false" type="button">Записати</button>
                        <button class="btn btn-danger" ng-click="addAction.actived = false" type="button" ><i class="fa fa-times"></i></button>
                    </span>
                </div>
                <br/>
                <!-- measurements history  -->
                <div class="row">
                    <div class="col-lg-12">
                        <p ng-repeat="measurement in (correctParameters = (parameter.measurements | orderBy: parameter.measurements.daytime | date )) | limitTo: 5" >
                            {{measurement.daytime  | date:'dd.MM.yyyy'}}: <mark>{{measurement.value}}</mark>
                            <span ng-if="$index == 0">{{dayToCurrent(measurement.daytime)}}</span>

                            <span class="pull-right text-muted">
                                <span ng-if="(measurement.value - correctParameters[$index - 1].value) > 0"> +</span>
                                {{(measurement.value - correctParameters[$index - 1].value) | number:1}}
                                <span ng-if="(measurement.value - correctParameters[$index - 1].value) > (correctParameters[$index - 1].value - correctParameters[$index - 2].value)">
                                    <i class="fa fa-caret-up fa-lg text-danger" title="витрати зросли"></i>
                                </span>
                                <span ng-if="(measurement.value - correctParameters[$index - 1].value) < (correctParameters[$index - 1].value - correctParameters[$index - 2].value)">
                                    <i class="fa fa-caret-down fa-lg text-success" title="витрати зменшились"></i>
                                </span>
                            </span>
                        </p>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Your answer: {{answer}}</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point
            to create something more unique by building on or modifying it.</p>
    </div>


    <div class="page-header">
        <h1>Buttons</h1>
    </div>
    <p>
        <button type="button" ng-click="setAnswer('May be')" class="btn btn-lg btn-default">May be</button>
        <button type="button" ng-click="setAnswer('No')" class="btn btn-lg btn-danger">No</button>
        <button type="button" ng-click="setAnswer('Yes')" class="btn btn-lg btn-success">Yes</button>
    </p>


    <hr>

</div> <!-- /container -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js "></script>
<script src="app/main.js"></script>
</body>
</html>
