<div class="container" role="main" ng-controller="MainController" >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Your answer: {{answer}}</h1>
        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point
            to create something more unique by building on or modifying it.</p>
    </div>


    <div class="page-header">
        <h1>Buttons</h1>
    </div>
    <p>
        <button type="button" ng-click="setAnswer('May be')" class="btn btn-lg btn-default">May be</button>
        <button type="button" ng-click="setAnswer('No')" class="btn btn-lg btn-danger">No</button>
        <button type="button" ng-click="setAnswer('Yes')" class="btn btn-lg btn-success">Yes</button>
        <button type="button" ng-click="getPosts()" class="btn btn-lg btn-primary">get posts</button>
    </p>



    <hr>

    <ul ng-if="posts">
        <li ng-repeat="post in posts">
            <h2>#{{post.id}}</h2>
            <div>#{{post.name}}</div>
        </li>
    </ul>

    

</div> 